[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
jupyter = "*"
pytest = "*"
pandas = "*"
xgboost = "*"
pygam = "*"
rpy2 = "==3.2.0"

[requires]
python_version = "3.6"
